<nav
  class="bg-zinc-800 flex justify-between items-center p-6 
   top-0 w-full"
>
<img src="../../../assets/purepng.com-pokeballpokeballdevicepokemon-ballpokemon-capture-ball-17015278258617bdog.png" 
alt="Pokeball" width="50" height="50" class="flex">
  <span id="title" class="font-bold text-yellow-400 text-4xl">Pokémon trainer</span>
  <ng-container *ngIf="user !== undefined">
    <ul id="routerButtons" class="flex text-yellow-400">
      <li class="px-4">
        <a routerLink="/login">Logout</a>
      </li>
      <li class="px-4">
        <a routerLink="/trainer">Trainer</a>
      </li>
      <li class="px-4">
        <a routerLink="/catalogue">Catalogue</a>
      </li>
    </ul>
  </ng-container>
</nav>
