<!-- <p>trainer-page works!</p>
<div *ngFor="let user of user$ | async">{{user.username}}<ul><li *ngFor="let pokemon of user.pokemon">{{pokemon}}<img src="{{pokemonImagePath(pokemon)}}"/></li></ul></div>
<div *ngIf="pokemon$ | async as pokemon">
    {{pokemon.name}}
  </div> -->

<main class="container mx-auto p-4">
  <div id="inventory" class="font-bold text-yellow-400 text-center text-4xl" >Pokémon box</div>
  <br>
  <div *ngIf="user">
    <app-pokemon-list [pokemons]="userPokemons"></app-pokemon-list>
  </div>
</main>
