<div class="container">
  <img src="../../../assets/Pokemon-Transparent-Images.png" style="margin-bottom: 20px; width: 500px; display: block; margin-left: auto; margin-right: auto;">
  <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" class="text-center">
    <fieldset class="mb-3">
      <label id="username1" for="username" class="block text-yellow-400">Username:</label>
      <p *ngIf="isError" class="text-red-600">Not a valid Trainer name (No special characters!)</p>
      <input
        type="text"
        ngModel
        #username="ngModel"
        name="username"
        id="username"
        class="border border-slate-900"
        placeholder=" Ash Ketchum"
      />
      <button type="submit" class="bg-yellow-500 p-2 rounded">Login</button>
    </fieldset>
  </form>
</div>